!!!
%head
  %title= @title || 'TaskSoup'
  %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/style.css' }/
  %script{ :type => 'text/javascript', :src=> '/scripts/jquery-1.3.2.js' }
  %script{ :type => 'text/javascript', :src=> '/scripts/jquery.form.js' }
  %script{ :type => 'text/javascript', :src=> '/scripts/script.js' }
%body
  #header
    %h1 TaskSoup
  #body
    #sidebar
      .content
    #main
      .content
        = yield
  #footer
    %p That's all!
