body, div, p, ul, li, h1, h2, h3, h4, h5, h6
  :margin 0
  :padding 0
body
  :background #eee
ul
  :list-style-type none
.add_link
  :cursor pointer
.hover > .controls > a
  :display block !important
  :background #acbdd2
  :margin 1px
  :-moz-border-radius 1px
  :-webkit-border-radius 1px
#header
  :padding 10px
  :border-bottom 3px solid #999
  :color #999
  :background #fff
#filter
  // :border-bottom 3px solid #999
  :background #eee
  .content
    :padding 10px
    :padding-left 23px
  ul.statuses > li
    span.chain
      :float left
      :font-weight bold
      :display block
      :padding 0 3px
      :margin-right 3px
      :margin-top 3px
      :width 5em
      :text-align right
      :clear left
    ul.chain
      :font-weight normal
      :display inline
      :float left
      li
        // :display inline
        :float left
        .status
          :display block
          :font-family monospace
          :font-weight bold
          :padding 0 3px
          :margin-right 3px
          :margin-top 3px
          :width 5em
          :text-align center
          :-moz-border-radius 4px
          :-webkit-border-radius 4px
          :border 2px solid #eee
  table.statuses
    .chain, .type, .status
      :display block
      :font-family monospace
      :width 5em
      :padding 0 3px
      :-moz-border-radius 4px
      :-webkit-border-radius 4px
      :border 2px solid #eee
      :text-align center
    .chain
      :background #ddd
      //:text-align right
    .type
      :background #ddd
    .types td
      :text-align center
    .status
      :font-weight bold
      &.selected_type
        :border-color #666
      &.selected_chain
        :border-color #666
      &.selected
        :border-color #000
#body
  :clear both
  :background #eee
  #sidebar
    :float right
    :width 15%
    .content
      :padding 10px
  #main
    :margin-left 10px
    :background #fff
    :width = 85%
    :border 3px solid #999
    .content
      :padding 10px
      ul.task_list
        :clear left
        .task
          :clear left
          .controls
            :width 2em
            :float left
            :min-height 16px
            :margin-top 3px
            :text-align center
            a
              :font-size 80%
              :font-family monospace
          .status
            :float left
            :font-family monospace
            :font-weight bold
            :padding 0 3px
            :margin-right 3px
            :margin-top 3px
            :width 5em
            :text-align right
            :-moz-border-radius 2px
            :-webkit-border-radius 2px
          .text
            :float left
          ul.task_list
            :padding-left 2em
      #add-task
        :clear left
        #add-task-form
          :display none
#footer
  :clear both
  :padding 10px
  // :border-top 3px solid #999
  :color #999

h2
  :border-bottom 3px solid black

/*********************/
/* Task List Styling */
/*********************/

.todo > .status
  :background #d74d3d
  :color #ffffff
.later > .status
  :background #f0c76f
  :color #000000
.cancel > .status
  :background #ffffff
  :color #999999
.waiting > .status
  :background #999999
  :color #ffffff
.done > .status
  :background #ffffff
  :color #999999
.bug > .status
  :background #519650
  :color #ffffff
.smell > .status
  :background #a4c262
  :color #ffffff
.report > .status
  :background #a4c262
  :color #ffffff
.fixed > .status
  :background #ffffff
  :color #519650
.invalid > .status
  :background #ffffff
  :color #a4c262
.question > .status
  :background #597ba6
  :color #ffffff
.answer > .status
  :background #ffffff
  :color #597ba6
.note > .status
  :background #ffffff
  :color #000000

.done, .fixed
  & > .text
    :color #999999
    :text-decoration line-through
.cancel, .answer, .invalid
  & > .text
    :color #999999
    :font-style italic
