%li.task{ :class => task.status }
  .status= task.status
  .text
    :maruku
      #{task.text}
%ul.task_list
  - for task in task.tasks
    = haml :'tasks/show', :layout => false, :locals => { :task => task }
