%li.task{ :class => task.status.name, :id => task.id }
  .controls
    %a.edit edit
  .status= task.status.name
  .text
    :maruku
      #{task.text}
  %ul.task_list
    - for task in task.tasks
      = haml :'tasks/show', :layout => false, :locals => { :task => task }
