#projects
  %ul.projects
    - for project in @projects
      %li
        %a{ :href => "/projects/#{project.short_name}" }= project.title
  #add-project-form
    %a.add_link{ :onClick => "add_and_bind_project_form($(this).parent());" } +project
