%form{ :name => 'project', :action => "/projects/new", :id => 'project_form', :method => 'post' }
  %input{ :name => 'project[title]', :id => 'project[title]', :type => 'text' }
  %input{ :type => 'submit', :value => 'Add', :id => 'project_submit' }
