-# %h2= @project.title
%ul
  - for task in @project.tasks
    = haml :'tasks/show', :layout => false, :locals => { :task => task }
#add-task-form
  %a{ :onClick => "add_and_bind_form($(this).parent(), \"#{@project.short_name}\");" } +new
