%form{ :name => 'page', :action => "/pages/new", :id => 'page_form', :method => 'post' }
  %input{ :name => 'page[title]', :id => 'page[title]', :type => 'text' }
  %input{ :type => 'submit', :value => 'Add', :id => 'page_submit' }
