%h2= @page.title
%ul
  - for task in @page.tasks
    = haml :'tasks/show', :layout => false, :locals => { :task => task }
#add-content-form
  %a{ :onClick => "add_and_bind_form($(this).parent(), \"#{@page.short_name}\", \"task\");" } +task
